msg-box {
  .primary p {
    color: #488aff !important;
  }

  .secondary p {
    color: #32db64 !important;
  }

  .success p {
    color: #32db64 !important;
  }

  .warning p {
    color: #f53d3d !important;
  }

  .alert p {
    color: #f53d3d !important;
  }

}
