<ion-card no-margin style="width: 100%;">

  <ion-item>
    <ion-icon name="book" item-start></ion-icon>
    <h2 text-wrap>{{lesson.name}}</h2>
    <button [disabled]="isMkup()" ion-button icon-left outline item-right (click)="chkMkupLson()" style="font-size: 1.4rem;">
      <ion-icon name="refresh-circle"></ion-icon> 轉堂
    </button>
  </ion-item>

  <ion-item text-wrap>
    <ion-icon name="time" item-start></ion-icon>
    <h2>{{lesson.startDateTime | date:'shortTime' }} - {{lesson.endDateTime | date:'shortTime'}}</h2>
  </ion-item>


  <ion-row>
    <ion-col style="padding: 0px;">
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>{{lesson.teacher.name}}
      </ion-item>
    </ion-col>

    <ion-col style="padding: 0px;">
      <ion-item><ion-icon name="navigate" item-start></ion-icon>{{lesson?.room?.name}}</ion-item>
    </ion-col>
  </ion-row>



</ion-card>
