lesson {

  .item-inner {
    margin-left: 0px !important;
  }

  .core {
    border: 3px solid color($colors, core, base);
    box-shadow: 0px 0px 0px #FFFFFF;
  }

  .homework {
    border: 3px solid color($colors, homework, base);
    box-shadow: 0px 0px 0px #FFFFFF;
  }

  .other {
    border: 3px solid color($colors, other, base);
    box-shadow: 0px 0px 0px #FFFFFF;
  }
}
