<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>目錄</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngIf="!authService.user" (click)="openPage('login')">登入</button>
      <button menuClose ion-item *ngIf="authService.user" (click)="openPage('timetable-tab')">時間表</button>
      <button menuClose ion-item *ngIf="authService.user" (click)="openPage('change-password')">更改密碼</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
