<ion-header>

  <ion-navbar color="primary">
    <ion-title>轉堂 | {{authService.user?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="authService.logout()">
        <ion-icon name="log-out"></ion-icon> 登出
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div style="max-width: 1200px; margin:0 auto;" text-center>
    <ion-list *ngFor="let lesson of lessons"  no-margin>
      <ion-item style="padding-top: 0px; padding-bottom: 0px; margin: 0px;" no-margin>
        {{lesson.startDateTime | date:'MMM dd, yyyy - EEEE'}}
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-md-6 col-lg-6 col-xl-4>
            <ion-card no-margin>
              <ion-item>
                <ion-icon name="book" item-start></ion-icon>
                <h2>{{lesson.name}}</h2>
                <p>{{lesson.startDateTime | date:'shortTime' }} - {{lesson.endDateTime | date:'shortTime'}}</p>
                <button ion-button icon-left outline item-right (click)="aplyMkup(lesson)" style="font-size: 1.4rem;">
                  <ion-icon name="checkmark"></ion-icon> 選擇
                </button>
              </ion-item>

              <ion-item text-wrap>
                <span *ngFor="let s of lesson.students" >{{s.name}} </span>
              </ion-item>

              <ion-item>
                <ion-row>
                  <ion-col><ion-icon name="person" item-start></ion-icon>{{lesson.teacher.name}}</ion-col>
                  <ion-col><ion-icon name="navigate" item-start></ion-icon>{{lesson?.room?.name}}</ion-col>
                </ion-row>
              </ion-item>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>
